<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AngbandFileUTISave</key>
	<string>$BUNDLE_IDENTIFIER$.file.save</string>
	<key>AngbandFileUTIEdit</key>
	<string>$BUNDLE_IDENTIFIER$.file.edit</string>
	<key>AngbandFileUTIData</key>
	<string>$BUNDLE_IDENTIFIER$.file.data</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$BUNDLE_NAME$</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>$BUNDLE_IDENTIFIER$.document.save</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$BUNDLE_IDENTIFIER$.file.save</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>$BUNDLE_IDENTIFIER$.document.edit</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$BUNDLE_IDENTIFIER$.file.edit</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>$BUNDLE_IDENTIFIER$.document.data</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$BUNDLE_IDENTIFIER$.file.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>$BUNDLE_IDENTIFIER$.document.spoiler</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$BUNDLE_IDENTIFIER$.file.spoiler</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>$BUNDLE_IDENTIFIER$.document.helpmenu</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$BUNDLE_IDENTIFIER$.file.helpmenu</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$BUNDLE_EXECUTABLE$</string>
	<key>CFBundleGetInfoString</key>
	<string>$BUNDLE_COPYRIGHT$</string>
	<key>CFBundleIconFile</key>
	<string>$BUNDLE_ICON_FILE$</string>
	<key>CFBundleIdentifier</key>
	<string>$BUNDLE_IDENTIFIER$</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$BUNDLE_NAME$</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$BUNDLE_SHORT_VERSION$</string>
	<key>CFBundleSignature</key>
	<string>$BUNDLE_SIGNATURE$</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$BUNDLE_BUILD_VERSION$</string>
	<key>LSMinimumSystemVersion</key>
	<string>$BUNDLE_DEPLOYMENT_TARGET$</string>
	<key>NSHumanReadableCopyright</key>
	<string>$BUNDLE_COPYRIGHT$</string>
	<key>NSMainNibFile</key>
	<string>$BUNDLE_NIB_NAME$</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$BUNDLE_NAME$ Saved Game</string>
			<key>UTTypeIconFile</key>
			<string>Save</string>
			<key>UTTypeIdentifier</key>
			<string>$BUNDLE_IDENTIFIER$.file.save</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SAVE</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>$SAVE_FILE_EXTENSION$</string>
					<string>*</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$BUNDLE_NAME$ Editable Game Data</string>
			<key>UTTypeIconFile</key>
			<string>Edit</string>
			<key>UTTypeIdentifier</key>
			<string>$BUNDLE_IDENTIFIER$.file.edit</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>prf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$BUNDLE_NAME$ Raw Game Data</string>
			<key>UTTypeIconFile</key>
			<string>Data</string>
			<key>UTTypeIdentifier</key>
			<string>$BUNDLE_IDENTIFIER$.file.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>DATA</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>raw</string>
					<string>old</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$BUNDLE_NAME$ Spoiler File</string>
			<key>UTTypeIconFile</key>
			<string>Edit</string>
			<key>UTTypeIdentifier</key>
			<string>$BUNDLE_IDENTIFIER$.file.spoiler</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>spo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$BUNDLE_NAME$ Help Menu File</string>
			<key>UTTypeIconFile</key>
			<string>Edit</string>
			<key>UTTypeIdentifier</key>
			<string>$BUNDLE_IDENTIFIER$.file.helpmenu</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>hlp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
